$primary-text: #f2f2f2;

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.movies-container {
  gap: 30px;
  margin-top: 30px;
  @include flex-center(row, center, center);
  flex-wrap: wrap;
}

.movie-item {
  width: 180px;
  @include flex-center(column, center, center);
}

.card-movie {
  width: 100%;
  height: 100%;
  @include flex-center(column, space-between, center);
  color: $primary-text;

  .card-descripition {
    @include flex-center(column, center, center);
    gap: 10px;
    text-align: center;
    flex-grow: 1;
  }
}

img {
  width: 150px;
  height: 225px;
  border-radius: 5px;
  object-fit: cover;
}

.descripition-fav{
  display: flex;
  margin-top: 35px;
  justify-content: center;
  color: #f2f2f2;
}